
.header-img {
    width: 40%;
  }
  header {
    height: 100vh;
    width: 100%;
    background: url(../images/main.jpg);
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    justify-content: center;
    align-items: center;
  }
  header .header-logo{
    margin-bottom: 2em;
    width: 60%;
  }
  header .btn {
    border-radius: 20px;
    border: 1px solid var(--primary);
    background: transparent;
    color: var(--primary);
    margin: 1em 0;
    font-size: 20px;
  }
  
  header .btn:hover {
    border-radius: 20px;
    background: var(--primary);
    color: white;
    border: 1px solid white;
  }
  
  header h1 {
    margin-bottom: 1em;
  }
  
  header .card {
      height: 80vh;
      width: 80%;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.534);
  }
  

  @media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
    
  }