.vertical-centered-text {
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .navbar-collapse {
  justify-content: flex-end;
}

nav.fixed {
  background: white;
}

nav.fixed .logo {
  display: block;
  width: 40%;
}

nav.fixed a {
  color: var(--primary);
}

@media only screen and (max-device-width: 480px),
  only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
  nav {
    background-color: white;
  }
  nav.fixed .logo {
    width: 60%;
  }
}
