:root {
  --primary: #EB5B64;
  --secondary: #e8e8e8;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Courgette";
  src: url("../fonts/Courgette-Regular.ttf");
}

body {
  font-family: "Raleway";
}

.logo {
  display: none;
}

.cta {
  text-align: left;
}

h1 {
  font-weight: bolder;
  font-size: 50px;
}

h2 {
  font-size: 50px;
  font-family: "Helvetica";
  text-align: center;
}

.orange {
  background: var(--primary);
}

.nosotros {
  width: 100%;
  padding: 5em 0;
  text-align: center;
}
.nosotros {
  color: white;
}

.nosotros h1 {
  font-weight: 200;
  margin-bottom: 1em;
}

.nosotros p {
  font-size: 20px;
}

.servicios {
  text-align: center;
  padding: 5em 0;
}
.servicios img {
  width: 40%;
  text-align: center;
}

.servicios h1 {
  color: var(--primary);
  font-weight: 100;
}
.servicios .images {
  padding-top: 30px;
}

.images .col-md-3 {
  padding-top: 20px;
}


.col-xs-4 {
  text-align: center;
}


.icon {
  width: 8em;
}

/*@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { }
@media only screen and (min-width: 324px) and (max-width: 736px) {*/
@media only screen and (max-device-width: 480px),
  only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
  /* iPhone only */
  /* Styles */
  .off {
    display: none !important;
  }
  .on {
    display: block !important;
  }
  .col-md-2 {
    width: 100%;
  }
  .social img {
    width: 100%;
  }
  .botonera li a {
    font-size: 13px;
  }
  #home {
    padding-top: 65px;
  }

  h1 {
    font-size: 30px;
  }

  footer {
    padding-top: 10px;
  }
}

