:root {
  --primary: #ce93d8;
  --secondary: #e8e8e8;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Courgette";
  src: url("../fonts/Courgette-Regular.ttf");
}

body {
  font-family: "Raleway";
}

.logo {
  display: none;
}

.botonera li {
  display: inline-block;
  margin-left: 8px;
  font-weight: 700;
  font-size: 20px;
}
.botonera li a {
  color: white;
}
.botonera li a:hover {
  color: #ff88e1;
  text-decoration: none;
}

.vertical-centered-text {
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  text-align: left;
}

h1 {
  font-weight: bolder;
  font-size: 50px;
}

h2 {
  font-size: 50px;
  color: white;
  font-family: "Helvetica";
  text-align: center;
}

.orange {
  background: #f9b4f1;
}

.nosotros {
  width: 100%;
  height: 50vh;
  text-align: center;
  padding-top: 150px;
}
.nosotros h1 {
  font-weight: 100;
  color: white;
}
.servicios {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}
.servicios img {
  width: 40%;
  text-align: center;
}

.servicios h1 {
  color: #f9b4f1;
  font-weight: 100;
}
.servicios .images {
  padding-top: 30px;
}

.images .col-md-3 {
  padding-top: 20px;
}

.social {
  text-align: center;
}
.social img {
  width: 30%;
  text-align: center;
}

footer {
  background: #f9b4f1;
  height: 50vh;
  padding-top: 30px;
}
footer h1 {
  text-align: center;
  font-weight: 100;
}

.col-xs-4 {
  text-align: center;
}

/*@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { }
@media only screen and (min-width: 324px) and (max-width: 736px) {*/
@media only screen and (max-device-width: 480px),
  only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
  /* iPhone only */
  /* Styles */
  .off {
    display: none !important;
  }
  .on {
    display: block !important;
  }
  .col-md-2 {
    width: 100%;
  }
  .social img {
    width: 100%;
  }
  .botonera li a {
    font-size: 13px;
  }
  .nosotros {
    height: 400px;
    overflow: hidden;
    padding-top: 15px;
  }
  #home {
    padding-top: 65px;
  }

  h1 {
    font-size: 30px;
  }

  footer {
    padding-top: 10px;
  }
}
